import("gurobi")
importFrom("ROI", "bounds")
importFrom("ROI", "constraints")
importFrom("ROI", "objective")
importFrom("ROI", "is.L_constraint")
importFrom("ROI", "is.NO_constraint")
importFrom("ROI", "ROI_plugin_add_status_code_to_db")
importFrom("ROI", "ROI_plugin_canonicalize_solution")
importFrom("ROI", "ROI_plugin_get_solver_name")
importFrom("ROI", "ROI_plugin_make_signature")
importFrom("ROI", "ROI_plugin_register_solver_method")
importFrom("ROI", "ROI_plugin_register_solver_control")
importFrom("ROI", "ROI_registered_solvers")
importFrom("slam", "is.simple_triplet_matrix")
importFrom("slam", "as.simple_triplet_matrix")
importFrom("methods", "getFunction")
importFrom("stats", "terms")
