import("ROI")
import("gurobi")
importFrom("slam", "is.simple_triplet_matrix")
importFrom("slam", "as.simple_triplet_matrix")
importFrom("methods", "getPackageName")
importFrom("methods", "getFunction")
importFrom("Matrix", "sparseMatrix")
importFrom("stats", "terms")
